<section class="bg-white pt-12 lg:pt-16 pb-12 lg:pb-16">
  <div class="max-w-7xl mx-auto px-4 xl:px-0 flex flex-col gap-y-6">
    <div class="flex flex-col items-center">
      <div
        class="bg-gradient-to-b from-slate-800 to-slate-600 bg-clip-text text-3xl font-semibold text-transparent lg:text-5xl mt-8 text-center sm:mx-auto sm:w-2/3 md:w-3/4 lg:mt-9 lg:leading-tight xl:w-3/5"
      >
        Discover the Quran Tajwid fonts
      </div>
      <p
        class="text-sm font-medium text-slate-600 leading-normal lg:leading-normal lg:text-base mt-4 text-center sm:mx-auto sm:w-2/3 md:w-1/2 xl:w-3/5"
      >
        Use the colourize Quran Tajwid fonts in your own projects with ease.
        With built in support to install the font files into your computer, and
        with ability to copy-paste the font glyphs.
      </p>
      <a
        href="https://github.com/My-Quran-Tajwid/quran_publisher_desktop"
        title="Download Quran Publisher Desktop"
        class="items-center justify-center whitespace-nowrap text-sm font-medium transition-all focus:shadow-[0_0px_0px_2px_rgba(15,23,42,0.25),0_2px_10px_0px_rgba(0,0,0,0.05)] shadow-[0_2px_10px_0px_rgba(0,0,0,0.05)] bg-slate-900 text-white hover:bg-slate-800 disabled:bg-slate-900/30 disabled:text-slate-50/70 px-4 py-2.5 rounded-[0.625rem] mt-6 flex"
      >
        Download
        <span class="ml-1 text-gray-300"> Quran Publisher Desktop</span>
        <svg
          class="shrink-0 ml-2 h-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          aria-hidden="true"
          data-slot="icon"
        >
          <path
            fill-rule="evenodd"
            d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
    </div>
    <figure
      class="relative h-52 overflow-hidden rounded-xl bg-gradient-to-b from-[#FFEDE9] to-[#F7E7FF] sm:mx-auto sm:w-2/3 md:h-60 md:rounded-2xl lg:mx-4 lg:h-[28rem] lg:w-full lg:rounded-3xl xl:mx-8 xl:h-[37.5rem]"
    >
      <img
        class="absolute left-1/2 top-6 h-52 w-11/12 -translate-x-1/2 rounded-md border-4 border-slate-900/5 object-cover object-left-top shadow-[0_2px_10px_0px_rgba(0,0,0,0.15)] sm:h-auto lg:top-16 lg:rounded-xl xl:top-24 transition-opacity duration-300"
        src="/images/quran-publisher-desktop-screenshot.png"
        alt="Browser Mockup"
        x-transition:enter="transition-opacity duration-300"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
      />
    </figure>
  </div>
</section>
