<style>
  @font-face {
    font-family: "QCF4_Surah_Juzuk_Mudah";
    src:
      url("/fonts/quran-fonts/fonts/King Fahd Complex/Custom/woff2/QCF4_Surah_Juzuk_Mudah-Regular.woff2")
        format("woff2"),
      url("/fonts/quran-fonts/fonts/King Fahd Complex/Custom/QCF4_Surah_Juzuk_Mudah-Regular.ttf")
        format("truetype");
  }

  .surah-juzuk-text {
    font-family: "QCF4_Surah_Juzuk_Mudah";
  }
</style>
<section class="bg-white pt-12 lg:pt-16 pb-12 lg:pb-16">
  <div class="max-w-7xl mx-auto px-4 xl:px-0">
    <div class="flex flex-col items-center">
      <div
        class="mt-6 bg-gradient-to-b from-slate-800 to-slate-600 bg-clip-text text-center text-3xl font-semibold text-transparent sm:w-2/3 md:w-1/2 lg:mt-9 lg:text-4xl lg:leading-tight xl:w-7/12"
      >
        Quranic Font Collection
      </div>
      <p
        class="text-sm font-medium text-slate-600 leading-normal lg:leading-normal lg:text-base mt-4 text-center sm:mx-auto sm:w-2/3 md:w-1/2 xl:w-2/5"
      >
        Our font collection includes Surah names, Juzuk names, Basmallah, and
        more! Use them in your designs, apps, websites, and other creative
        projects. The original font files are licensed from their respective
        owners.
      </p>
    </div>
  </div>
  <div class="pt-12 lg:pt-16 max-w-7xl mx-auto px-4 xl:px-0">
    <div
      class="relative overflow-hidden rounded-3xl bg-[#7C7FD9] flex flex-col items-center justify-center lg:grid lg:grid-cols-2 lg:rounded-[3rem]"
    >
      <div
        class="flex flex-col items-center justify-center px-4 pt-4 lg:items-start lg:justify-start lg:px-16 lg:pb-16 lg:pt-40"
      >
        <div
          class="text-3xl font-semibold text-white text-center sm:w-4/5 lg:w-11/12 lg:text-left lg:text-5xl lg:leading-tight xl:w-3/4"
        >
          Designs made easy
        </div>
        <a
          href="https://github.com/My-Quran-Tajwid/quran-fonts"
          title="View Quran Fonts on GitHub"
          class="items-center justify-center whitespace-nowrap text-sm font-medium transition-all focus:shadow-[0_0px_0px_2px_rgba(15,23,42,0.25),0_2px_10px_0px_rgba(0,0,0,0.05)] shadow-[0_2px_10px_0px_rgba(0,0,0,0.05)] bg-slate-900 text-white hover:bg-slate-800 disabled:bg-slate-900/30 disabled:text-slate-50/70 px-4 py-2.5 rounded-[0.625rem] mt-6 flex mx-auto lg:mx-0"
        >
          Get
          <span class="ml-1 text-slate-400"> Quran Fonts</span>
          <svg
            class="shrink-0 ml-2 h-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              fill-rule="evenodd"
              d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
      <figure class="lg:relative">
        <img
          class="relative left-0 top-0 h-80 object-cover object-left-top sm:left-4 sm:top-32 sm:h-[30rem] lg:absolute lg:left-0 lg:top-[-9rem] lg:h-[42rem] mx-auto mt-8 lg:mt-0"
          src="/images/sq-screenshot-optim.png"
          alt="Mockup"
        />
      </figure>
    </div>
  </div>
</section>
